# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/out/

#lokale Spielereien
../indexOld.js/
../classes/parser_html.js/
../classes/parser_xml.js/
../classes/utilities.js/
