# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/out/

#lokale Spielereien
/indexOld.js/
/parser_html.js/
/parser_xml.js/
**/utilities.js/
